extends layout

block content
  h1 Welcome to My StreamWave App
  p This is a web application for streaming music. Browse our collection of songs and create your own playlists.
  a.browse(href="/search") Search

  script(src="/javascripts/index.js")