extends layout

block content
  .container
    h1 Songs

    if songs.length
      ul.list-group
        each song in songs
          li.list-group-item= song.title
    else
      p No songs found.